
<h1 class="page-header">Accounts</h1>

    <!-- /.row -->
    <div class="row">

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add a new account
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <form name="form" role="form">
                            <div class="form-group col-md-12">
                                <label>Account name</label>
                                <input  ng-model="account.name" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Currency</label>
                                <select ng-model="account.currency" ng-options="(currency.description +' ('+currency.code+')') for currency in currencies track by currency.code" class="form-control">
                                    <option value="">Select Account</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Initial balance</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-{{account.currency.code | lowercase}} fa-fw"></i></span>
                                    <input ng-model="account.initialBalance" type="text" class="form-control" placeholder="Initial balance">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>BIC</label>
                                <input  ng-model="account.bic" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <label>IBAN</label>
                                <input  ng-model="account.iban" class="form-control">
                            </div>

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-default"  ng-click="add(account)">Submit Button</button>
                                <button type="reset" class="btn btn-default" ng-click="reset()">Reset Button</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Account list
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">

                        <table ng-table="table" show-filter="true" class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col width="60%" />
                                <col width="15%" />
                                <col width="25%" />
                            </colgroup>
                            <tbody>
                            <tr ng-repeat="row in $data">

                                <td title="'Name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
                                    <span ng-switch-default class="editable-text"> {{row.name}}</span>
                                    <div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                        <input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
                                    </div>
                                </td>


                                <td data-title="'Balance'" sortable="'balance'">
                                    <span class="fa fa-{{row.currency.code | lowercase}} fa-fw"></span>  {{row.initialBalance}}
                                </td>

                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
